@import '../../common/helpers.scss';

.provider {
  width: 100%;
}

.outerBorder {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 5px;
}
.innerBorder {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;

  @media (max-width: $laptop) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.providerTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-left: 19px;
}

.imageTitleBlock {
  display: flex;
  align-items: center;
  min-width: 35%;
}

.providerInfoBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 15px;

  @media (max-width: $tablet) {
    margin-top: 16px;
    margin-left: 0;
  }
}
.providerCityBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.providerLocationBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.providerCityBlock,
.providerLocationBlock {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;

  p:first-child {
    font-weight: 600;
  }
}

.checkedBlock {
  margin-right: 32px;
  min-width: 32px;
  min-height: 32px;
}
