@import '../../common/helpers.scss';

.serviceWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 118px;
  @media (max-width: 950px) {
    display: block;
    margin-bottom: 20px;
  }
}

.nextButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 950px) {
    display: block;
  }
}
