@import '../../common/helpers.scss';

.serviceCart {
  margin-bottom: 15px;

  @media (max-width: 950px) {
    width: 50%;
  }
}

.service {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  max-width: 280px;

  @media (max-width: 950px) {
    max-width: none;
  }
}

.serviceImage {
  object-fit: cover;
  padding: 8px 8px 20px 8px;
  width: 100%;
}

.serviceImageBG {
  display: flex;
  justify-content: center;
}

.serviceDescription {
  margin: 0px 16px 16px 16px;

  @media (max-width: 420px) {
    min-height: 223px;
    margin: 0px 16px 12px 16px;
  }
}

.serviceHeader {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;

  @media (max-width: 950px) {
    @include adaptive-value(font-size, 16, 13);
    @include adaptive-value(line-height, 19, 15);
    flex-direction: column;
    h3 {
      margin-bottom: 5px;
    }
  }

  ins {
    font-weight: bold;
    text-decoration: none;
  }

  .serviceTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #4d4d4d;
    @media (max-width: 950px) {
      @include adaptive-value(font-size, 16, 13);
    }
  }
}

.serviceTeknoligi {
  background: #ff6400;
  border-radius: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  max-width: 130px;
  padding: 5px;
  text-align: center;
  margin-bottom: 16px;
  @media (max-width: 950px) {
    @include adaptive-value(font-size, 11, 8);
    @include adaptive-value(line-height, 13, 10);
    @include adaptive-value(margin-bottom, 19, 12);
  }
}

.serviceText {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #acacac;
  margin-bottom: 16px;
  min-height: 80px;
  @media (max-width: 950px) {
    @include adaptive-value(font-size, 13, 10);
    @include adaptive-value(line-height, 20, 15);
    @include adaptive-value(margin-bottom, 16, 10);
  }
}

.buttonBlock {
  display: flex;
  justify-content: flex-end;
  margin: 0px 16px 16px 16px;
  height: 32px;

  .serviceButton {
    background-color: transparent;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005bff;
    cursor: pointer;

    @media (max-width: 950px) {
      @include adaptive-value(font-size, 16, 11);
      @include adaptive-value(line-height, 19, 14);
    }
  }
}
