@import './common/helpers.scss';

.appWrapper {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  height: 100vh;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  @media (max-width: 850px) {
    @media (orientation: landscape) {
      & {
        flex-direction: column;
      }
    }
  }
}

.container {
  max-width: 960px;
  width: 100%;
  padding: 32px 40px 30px 48px;

  @media (max-width: 1000px) {
    padding: 18px 20px 15px 24px;
  }
  @media (max-width: 480px) {
    padding: 18px 10px 7px 12px;
  }

  @media (max-width: 584px) {
    .container {
      max-width: 100%;
    }
  }
}
