.progressBarWrapper {
  max-width: 320px;
  width: 100%;
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.04);
  border-radius: 5px 0px 0px 5px;

  @media (max-width: 768px) {
    max-width: 100%;
    min-height: 180px;
  }

  @media (max-width: 850px) {
    @media (orientation: landscape) {
      max-width: 100%;
      min-height: 180px;
    }
  }
}
