@import '../../../common/helpers.scss';

.mobileProgress {
  display: none;
  @media (max-width: 480px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 850px) {
    @media (orientation: landscape) {
      & {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.progress {
  padding-left: 30px;
  padding-top: 30px;

  @media (max-width: 1280px) {
    @include adaptive-value(padding-left, 30, 15);
    @include adaptive-value(padding-top, 30, 15);
  }

  @media (max-width: 480px) {
    display: none;
  }

  @media (max-width: 850px) {
    @media (orientation: landscape) {
      & {
        display: none;
      }
    }
  }
}
