@import '../../common/helpers.scss';

.progressDecorator {
  text-decoration: none;
  position: relative;
  .texInDecorator {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    display: inline;
    color: #000000;
    position: absolute;
    min-width: 140px;
    transform: translate(50%, 80%);

    @media (max-width: $tablet), (max-width: 850px) and (orientation: landscape) {
      @include adaptive-value(font-size, 16, 10);
      @include adaptive-value(padding-left, 16, 10);
      &[data-mobile] {
        position: static;
        color: white;
        line-height: 18px;
        font-weight: 600;
      }
    }
  }

  .texInDecoratorSmall {
    transform: translate(50%, 0);

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #777676;
    }

    @media (max-width: $tablet) {
      @include adaptive-value(font-size, 14, 10);
      @include adaptive-value(padding-left, 16, 10);
    }
  }
}

.progressAfterLine:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 31px;
  background-color: #ff9b05;
  display: block;
  margin: 4px 0 4px;
  margin-left: 24px;
}

@media (max-width: $tablet), (max-width: 850px) and (orientation: landscape) {
  .progressAfterLine[data-mobile]::after {
    content: none;
  }
}

.progressAfterLine[disabled] {
  &::after {
    background-color: #dddddd;
  }
  @media (max-width: $tablet), (max-width: 850px) and (orientation: landscape) {
    &[data-mobile]::after {
      content: none;
    }
  }
}

.progressAfterLine[data-success='true'] {
  &::after {
    background-color: #07a58e;
  }

  @media (max-width: $tablet), (max-width: 850px) and (orientation: landscape) {
    &[data-mobile]::after {
      content: none;
    }
  }
}

.progressItem {
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    &[data-mobile] {
      display: none;
    }
  }

  @media (max-width: 850px) {
    @media (orientation: landscape) {
      &[data-mobile] {
        display: none;
      }
    }
  }
}

.progressOne {
  @include progress-item();
  background-image: url(../../../assets/image/svg/1.svg);
  background-size: 7px 15px;
}

.progressTwo {
  @include progress-item();
  background-image: url(../../../assets/image/svg/2.svg);
}

.progressThree {
  @include progress-item();
  background-image: url(../../../assets/image/svg/3.svg);
}

.progressSmall {
  @include progress-item();
  width: 32px;
  height: 32px;
}

.progressDecorator[disabled] {
  span {
    background-color: #dddddd;
  }

  .texInDecorator {
    color: #717171;
  }
}
.progressDecorator[data-success='true'] {
  .successStage {
    background-color: #07a58e;
    background-image: url(../../../assets/image/svg/Success.svg);
    background-size: 17px 14px;
  }
}

.disabledLine {
  pointer-events: none;
}

@media (max-width: $tablet), (max-width: 850px) and (orientation: landscape) {
  .progressDecorator[data-mobile] {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #0b3a66;
    background-color: #ff9b05;
    text-decoration: none;
    padding: 6px;

    &[disabled] {
      background-color: #dddd;
    }
    &[data-success='true'] {
      background-color: #07a58e;
    }

    .texInDecoratorSmall {
      span {
        color: rgb(8, 8, 8);
        font-weight: 600;
      }
    }
  }
}
