@import '../../../common/helpers.scss';

.progressAfterLine::after {
  content: '';
  width: 1px;
  height: 31px;
  background-color: #ff9b05;
  display: block;
  margin: 4px 0 4px;
  margin-left: 24px;
}

.progressAfterLine[disabled] {
  &::after {
    background-color: #dddddd;
  }
}

.progressAfterLine[data-success='true'] {
  &::after {
    background-color: #07a58e;
  }
}

.progressItem {
  display: flex;
  align-items: center;
  p {
    padding-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    margin: 0;
    display: inline;

    @media (max-width: 767px) {
      @include adaptive-value(font-size, 16, 10);
      @include adaptive-value(padding-left, 16, 10);
    }
  }
}

.progressOne {
  @include progress-item();
  background-image: url(../../../assets/image/1.svg);
  background-size: 7px 15px;
}

.progressTwo {
  @include progress-item();
  background-image: url(../../../assets/image/2.svg);
}

.progressThree {
  @include progress-item();
  background-image: url(../../../assets/image/3.svg);
}

.progressDecorator[disabled] {
  .progressTwo {
    background-color: #dddddd;
  }
  .progressThree {
    background-color: #dddddd;
  }
}
.progressDecorator[data-success='true'] {
  .progressOne {
    background-color: #07a58e;
    background-image: url(../../../assets/image/Success.svg);
    background-size: 17px 14px;
  }
  .progressTwo {
    background-color: #07a58e;
    background-image: url(../../../assets/image/Success.svg);
    background-size: 17px 14px;
  }
}
