@import '../../common/helpers.scss';

.progressDecorator {
  text-decoration: none;
  .texInDecorator {
    padding-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    display: inline;
    color: #000000;

    @media (max-width: $tablet) {
      @include adaptive-value(font-size, 16, 10);
      @include adaptive-value(padding-left, 16, 10);
    }
  }

  .texInDecoratorSmall {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #777676;

    @media (max-width: $tablet) {
      @include adaptive-value(font-size, 14, 8);
      @include adaptive-value(padding-left, 16, 10);
    }
  }
}

.progressAfterLine:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 31px;
  background-color: #ff9b05;
  display: block;
  margin: 4px 0 4px;
  margin-left: 24px;
}

.progressAfterLine[disabled] {
  &::after {
    background-color: #dddddd;
  }
}

.progressAfterLine[data-success='true'] {
  &::after {
    background-color: #07a58e;
  }
}

.progressItem {
  display: flex;
  align-items: center;
}

.progressOne {
  @include progress-item();
  background-image: url(../../../assets/image/svg/1.svg);
  background-size: 7px 15px;
}

.progressTwo {
  @include progress-item();
  background-image: url(../../../assets/image/svg/2.svg);
}

.progressThree {
  @include progress-item();
  background-image: url(../../../assets/image/svg/3.svg);
}

.progressSmall {
  @include progress-item();
  width: 32px;
  height: 32px;
}

.progressDecorator[disabled] {
  span {
    background-color: #dddddd;
  }

  .texInDecorator {
    color: #717171;
  }
}
.progressDecorator[data-success='true'] {
  .successStage {
    background-color: #07a58e;
    background-image: url(../../../assets/image/svg/Success.svg);
    background-size: 17px 14px;
  }
}

.disabledLine {
  pointer-events: none;
}

@media (max-width: $tablet) {
  .progressDecorator {
    display: none;
  }
}

@media (max-width: 850px) {
  @media (orientation: landscape) {
    .progressDecorator {
      display: none;
    }
  }
}
